Library/UnityAssemblies/SyntaxTree.VisualStudio.Unity.Bridge.xml
Library/UnityAssemblies/UnityEditor.Analytics.dll
Library/UnityAssemblies/UnityEditor.Analytics.xml
Library/UnityAssemblies/UnityEditor.Graphs.xml
Library/UnityAssemblies/UnityEditor.HoloLens.dll
Library/UnityAssemblies/UnityEditor.HoloLens.xml
Library/UnityAssemblies/UnityEditor.PlaymodeTestsRunner.dll
Library/UnityAssemblies/UnityEditor.PlaymodeTestsRunner.xml
Library/UnityAssemblies/UnityEditor.VR.dll
Library/UnityAssemblies/UnityEditor.VR.xml
Library/UnityAssemblies/UnityEditor.WindowsStandalone.Extensions.xml
Library/UnityAssemblies/UnityEngine.Analytics.dll
Library/UnityAssemblies/UnityEngine.Analytics.xml
Library/UnityAssemblies/UnityEngine.HoloLens.dll
Library/UnityAssemblies/UnityEngine.HoloLens.xml
Library/UnityAssemblies/UnityEngine.PlaymodeTestsRunner.dll
Library/UnityAssemblies/UnityEngine.PlaymodeTestsRunner.xml
Library/UnityAssemblies/UnityEngine.VR.dll
Library/UnityAssemblies/UnityEngine.VR.xml
Temp/UnityLockfile
Temp/UnityTempFile-35c8ce6ec65f493409616a1997087d9a
Temp/UnityTempFile-3ec4f2777652ccd41ba54f74a86b396a
Temp/UnityTempFile-4171e2bf33ac9934990485fc4ef6bf4b
Temp/UnityTempFile-c0ff89bc039960f459352c5cf4f95c25
Temp/UnityTempFile-dd868239a7ee12f4b97d8c46a6f616e2
Temp/UnityTempFile-f71584ebe2d01474eb17509328323876
Temp/UnityVS_obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UnityEstrategia2017.CSharp.Editor.csproj
UnityEstrategia2017.CSharp.Plugins.csproj
UnityEstrategia2017.CSharp.csproj
UnityEstrategia2017.sln
